@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300 700;
    font-display: block;
    src: url("../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format('truetype'),
         url("../fonts/Fira_Code/FiraCode-VariableFont_wght.woff2") format('woff2');
}

body { font-family: "Fira Code", monospace; }

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.menu a { 
    font-family: "Fira Code", monospace;
    font-weight: bold; 
    font-size: 0.9em;
}

.title, .message { font-size: 0.9em; }

.banner { font-family: "Fira Code", monospace; }

.post-list {
    font-family: "Fira Code", monospace;
    font-size: 1em;
}

footer { font-size: 0.9em; }

