{{ partial "header.html" . }}

<div class="wrapper">

    <div class="banner">
        <pre class="ascii">
       _..._
      .'     '.      _
     /    .-""-\   _/ \
   .-|   /:.   |  |   |
   |  \  |:.   /.-'-./
   | .-'-;:__.'    =/
   .'=  *=|     _.='
  /   _.  |    ;
 ;-.-'|    \   |
/   | \    _\  _\
\__/'._;.  ==' ==\
         \    \   |
         /    /   /
         /-._/-._/
         \   `\  \
          `-._/._/</pre>

        <div class="message">
            <p>{{ .Site.Params.messageTitle }}</p>
            <p>{{ .Site.Params.messageContent }}</p>
        </div>
    </div>

{{ .Content }}

<ul class="post-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (.Paginate ( where site.RegularPages "Section" "!=" "" | first 5 ) ).Pages }}
  <li>
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
</div>
{{ partial "footer.html" . }}
